<div class="div-principal">
    <div *ngIf="isShown" class="row container-fluid"  id="divshow" >
        <table style="left:35%;" class="table table-striped">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">EMAIL</th>
                <th scope="col">EMAIL CONFIRMED</th>
                <th scope="col">ADMIN</th>
                <th scope="col">DELETE</th>
              </tr>
            </thead>
            <ng-container *ngIf="data.length">
               <tbody *ngFor="let user of data; let i = index">
                 <tr >
                   <td>{{user.id}}</td>
                   <td>{{user.email}}</td>
                   <td>{{user.isActive}}</td>
                   <td><input min="0" max="1" id="user.isAlumn" type="number" [(ngModel)]="user.isAlumn"></td>
                   <td><input (change)="check($event, user.id)" type="checkbox" id="user.id" /></td>
                   <button (click)="deleteRow(user.id, user.isAlumn)">save</button>
                 </tr>
               </tbody>
             </ng-container>
           </table>
    </div>
    <div *ngIf="!isShown" class="row container-fluid"  id="divshow" >
      <section id="portfolio-section" class="portfolio-section home-section" [ngClass]="{'light-gray': backgroundGray}">
        <div class="container">
          <div class="section-header">
            <br/>
            <h2>Eventos Actuales</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat unde inventore molestias ab adipisci eius nisi placeat
              at.
            </p>
          </div>
        <ngu-carousel
        #portfolioCarousel
        class="carousel"
        [inputs]="carouselOptions" [dataSource]="portfolios">
          <ngu-item NguCarouselItem *nguCarouselDef="let p; let j = index">
              <mat-card class="p-0">
                  <img mat-card-image [src]="p.photo">
                  <mat-card-content>
                    <h5><strong><a href="">{{p.title}}</a></strong></h5>
                    <p>
                      {{p.text}}
                    </p>
                    <mat-divider class="mb-1"></mat-divider>
                    <button mat-icon-button><mat-icon class="text-muted">link</mat-icon></button>
                    <button mat-icon-button><mat-icon class="text-muted" (click)="openShareComponent()">share</mat-icon></button>
                  </mat-card-content>
                </mat-card>
          </ngu-item>
          
          <button mat-fab NguCarouselPrev class='carousel-left'><mat-icon>keyboard_arrow_left</mat-icon></button>
          <button mat-fab NguCarouselNext class='carousel-right'><mat-icon>keyboard_arrow_right</mat-icon></button>
    
          <ul NguCarouselPoint class="carousel-point">
            <li *ngFor="let pointNumber of portfolioCarousel.pointNumbers; let j = index" [class.active]="j==portfolioCarousel.activePoint" (click)="portfolioCarousel.moveTo(j)"></li>
          </ul>
      </ngu-carousel>
        </div>
    </section>    </div>
     
</div>