<header id="home-header" [ngClass]="{'header-fixed': isFixed}">
  <div class="container" fxLayout="row wrap" fxLayoutAlign="start center">
    <div class="header-mobile-top" fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="start center">
      <div class="home-logo mr-1">
          <a href="/"><img src="assets/images/logo-utad.png" alt="Egret logo"></a>
      </div>
    <div *ngIf="isConnected" fxFlex class="top-menu">
      <button *ngIf="this.type_user == 'Alumnos'"  mat-button id="dashboard-topbtn" class="hometop-btn" [routerLink]="'/home/UserPage'"><strong>User Page</strong></button>
      <button *ngIf="this.type_user == 'Empresa'"  mat-button id="dashboard-topbtn" class="hometop-btn" [routerLink]="'/home/EmpresaPage'"><strong>Empresa Page</strong></button>
    </div>

      <button mat-icon-button id="menu-toggle" (click)="toggleMenu()"><mat-icon>menu</mat-icon></button>
    </div>
    <div fxFlex class="top-menu">
      <span fxFlex></span>

      <div class="home-logo mr-1">
        <a href="/"><img src="assets/images/logo-company.png" alt="Egret logo"></a>
    </div>
    <div class="home-logo mr-1">
      <img *ngIf="isConnected" src="assets/images/logout.png" alt="Egret logo" (click)="logout()">
  </div>
    
    </div>
  </div>
</header>